/* MENU */

#menu { margin: 18px; border-radius: 20px; width: 600px;}
#menu-text { margin: 0px 10px; }
#menu-play { margin: 0px 10px; }
#menu-news { background-color: cadetblue; }
#menu-news-latest-title { margin: 0px 10px; font-family: sans-serif; color: black; font-size: 40px;}
#menu-news-title { background-color: orange; color: black; text-shadow: 1px 1px 2px grey; margin: 0px 20px; border-radius: 4px; outline-style: solid; width: 130px; }
#menu-news-latest-desc { margin: 0px 20px; }

/* GAME */

#body {
    background-color: #ededed;
}

.button {
}

#game-res-info {
    /* Box info */
}

#game-info {
    outline-style: solid;
    outline-width: 1px;
    min-height: 100px;
    max-height: 100px;
    min-width: 100px;
    max-width: 250px;
    text-align: center;
    padding-top: 10px;
}

.button-hover {
    display: none;
    /*
    max-width: 228px;
    background-color: aquamarine;
    outline-style: solid;
    outline-width: 2px; */
}

/* Make a box */
#button-makeabox:hover + #hover-mab {
    display: inline;
}
/* Compress a box */
#button-compressbox:hover + #hover-cb {
    display: inline;
}

#button-makeascrewdriver:hover + #hover-masd {
    display: inline;
}

#button-makeabox:hover + #hover-mab {
    display: inline;
}
