/* MENU */

#menu { margin: 18px; border-radius: 20px; width: 600px;}
#menu-text { margin: 0px 10px; }
#menu-play { margin: 0px 10px; }
#menu-news { background-color: cadetblue; }
#menu-news-latest-title { margin: 0px 10px; font-family: sans-serif; color: black; font-size: 40px;}
#menu-news-title { background-color: orange; color: black; text-shadow: 1px 1px 2px grey; margin: 0px 20px; border-radius: 4px; outline-style: solid; width: 130px; }
#menu-news-latest-desc { margin: 0px 20px; }

/* GAME */

.inv-ps {
    color: #bfbfbf;
}

p,td { color: white; }
th { text-shadow: 1px 1px 2px #ff0000 }

#game-titlebar-text { color: black;}

#game-titlebar {
    background-color: azure;
    bottom: 20px;
}

.game-counter-limit { font-style: italic; color: darkgray}

#game-navbar {
    position: absolute;
    top: 2px;
    height: 26px;
    border-bottom: 1px solid gray;
    box-shadow: 1px 0px 2px #888;
}

.game-button {
    border-radius: 2px;
    background-color: dimgray;
    color: lightgray;
}

.game-item-title:hover { font-weight: 500; }

#game-counter {
    font-family: monospace;
    font-size: 18px;
}

#game-bps { color: #bfbfbf; }
#game-main-button-desc { color: lightgray; font-style: italic; text-shadow: 1px 1px 1px #595959; }
#game { width: 100%; min-width: 1075px; max-width: 1920px; overflow: hidden; position: absolute; }

.game-button {
    display: none;
}

#game-construct-button:hover {
    text-shadow: 2px 2px 4px #000000; background-color: darkgray;
}

#game-compress-button:hover {
    text-shadow: 2px 2px 4px #000000; background-color: darkgray;
}

/*.game-div-div {
    border-style: solid;

}

.game-div-div-progress {

} */

#game-inv {
    float: left;
    width: 25%;
}

#game-main {
    float: left;
    width: 75%;
}

#game-main,#game-upgrades,#game-buildings {
    /*border-style: solid;*/
    padding: 2px;
}
