/* MENU */

#menu { margin: 18px; border-radius: 20px; width: 600px;}
#menu-text { margin: 0px 10px; }
#menu-play { margin: 0px 10px; }
#menu-news { background-color: cadetblue; }
#menu-news-latest-title { margin: 0px 10px; font-family: sans-serif; color: black; font-size: 40px;}
#menu-news-title { background-color: orange; color: black; text-shadow: 1px 1px 2px grey; margin: 0px 20px; border-radius: 4px; outline-style: solid; width: 130px; }
#menu-news-latest-desc { margin: 0px 20px; }

/* GAME */

#game-counter,#game-bps,#game-upgrades,#buildings {
    font-family: monospace;
    font-size: 20px;
    color: darkblue;
    text-shadow: 2px 2px 2px #595959;
    text-align: center;
}

#game-counter,#game-bps { font-size: 30px; }

#game-main-button-desc { color: lightgray; font-style: italic; text-shadow: 1px 1px 1px #595959; }

#game { width: 100%; overflow: hidden; }

#game-button {
    text-align: center;
}

#game-main {
    float: left;
    width: 20%;
}

#game-upgrades {
    float: left;
    width: 40%;
}

#buildings {
    float: left;
    width: 40%;
}
